{% extends 'base.html' %}
{% load static %}
{% block static %} {% endblock static %}
{% block content %}
<div class="main">

    <h1>Sign up</h1>
    <div class="container">
        <div class="sign-up-content">
            <form method="post" action="{% url 'user:validate-code' %}">
                {% csrf_token %}
                <h2 class="form-title">Tasdiqlash kodini kiriting</h2>

                <div class="form-textbox">
                        <label class="form-control-label" for="">Tasdiqlash kodi</label>
                        <input type="text" name="code" value="{{code}}">
                </div><br>


                <div class="form-textbox">
                    <input type="submit" name="submit" class="submit" value="Tasdiqlash" />
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
