{% extends 'base.html' %}
{% load static %}
{% block static %} {% endblock static %}
{% block content %}
    <div class="main">

        <h1>Sign up</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="post">
                    {% csrf_token %}
                    <h2 class="form-title">Registratsiya qilish</h2>
                   <div class="form-radio" id="radioID">
                       <input type="radio" name="contact" value="phone" id="phone" checked="checked" class="radioBtnClass"/>
                       <label for="phone">Telefon orqali</label>

                       <input type="radio" name="contact" value="email" id="email"  class="radioBtnClass"/>
                        <label for="email">Email orqali</label>
                    </div>

                    <div class="form-textbox">
                        {{ form.fullname.errors }}
                            <label class="form-control-label" for="{{ form.fullname.id_for_label }}">{{ form.fullname.label }}</label>
                        {{ form.fullname }}
                    </div><br>
                    <div class="form-textbox">
                        {{ form.birthday.errors }}
                            <label class="form-control-label" for="{{ form.birthday.id_for_label }}">{{ form.birthday.label }}</label>
                        {{ form.birthday }}
                    </div><br>
                    <div class="form-textbox" id="phone-class">
                        {{ form.phone_number.errors }}
                            <label class="form-control-label" for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                        {{ form.phone_number }}
                    </div><br>
                    <div class="form-textbox" style="display: none;" id="email-class">
                        {{ form.email.errors }}
                            <label class="form-control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div><br>

                    <div class="form-textbox">
                        {{ form.password.errors }}
                            <label class="form-control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div><br>



                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>bizning qoidalar bilann tanishib chiqtingizmi?</label>
                    </div>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Create account" disabled="disabled" />
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}  

<script>
$('.radioBtnClass').on('click', function () {
    var value = $(this).val();
    if(value === 'email'){
        document.getElementById('email-class').style.display = 'block'
        document.getElementById('phone-class').style.display = 'none'

    }else{
        document.getElementById('email-class').style.display = 'none'
        document.getElementById('phone-class').style.display = 'block'
    }
})
</script>
{% endblock javascript %}

