{% extends 'base.html' %}
{% load static %}
{% block static %} {% endblock static %}
{% block content %}
<div class="main">

    <h1>Sign up</h1>
    <div class="container">
        <div class="sign-up-content">
            <form method="post" action="{% url 'user:validate-code' %}">
                <h2 class="form-title">Salom {{ user.fullname }} bizning saytka hush kelibsz</h2>
            </form>
        </div>
    </div>

</div>
{% endblock %}
